<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @user.first_name %>, your transaction is successful!</h1>
    <p>
      Your <%= @order.order_type %> order for <%= @order.ticker_symbol %> for <%= @order.shares_quantity %> shares at $<%= @order.price_per_share %> is completed!
      <br>
    </p>
  </body>
</html>